@import "../../shared/stylesheets/var.scss";

.hiddenMenuContainer {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hiddenMenuContainer {
        display: block;
        position: absolute;
        top: 55px;
        background-color: $color1;
        border: 1px solid $color1;
        border-radius: 3px;
        a {
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 10px 20px;
            font-size: 20px;
            color: $color2;
            background-color: $color3;
        }
        .activeHiddenMenu {
            background-color: $color1;
        }
    }

    #openHiddenMenu {
        left: 30px;
        transition-duration: 0.5s;
    }

    #closedHiddenMenu {
        left: -200px;
        transition-duration: 0.5s;
    }

    #reservedHiddenMenu {
        display: none;
    }
}