@import "../../shared/stylesheets/var.scss";

.horizontalMenuContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    a {
        text-decoration: none;
        color: $color2;
        padding: 10px;
        width: 25%;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        transition-duration: 0.3s;
    }
    a:hover {
        transition-duration: 0.3s;
        background-color: $color1;
    }
    .activeHoriMenu {
        background-color: $color1;
    }
    #reservedHoriMenu {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .horizontalMenuContainer {
        display: none;
    }
}