@import "../../shared/stylesheets/var.scss";
@import "../../shared/stylesheets/openHiddenMenu.scss";

.createAccountContainer {
    display: block;
    width: 320px;
    border: 1px solid $color1;
    border-radius: 5px;
    padding: 10px;
    margin: auto !important;
    h1 {
        display: block;
        font-size: 30px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 50px;
    }
    div {
        display: block;
        margin-bottom: 20px;
        input {
            float: right;
            margin-top: -3px;
        }
        .passwordShower {
            padding: 2px;
            margin-top: 3px;
            margin-left: 106px;
            background-color: $color4;
            transition-duration: 0.3s;
        }
        .passwordShower:hover {
            transition-duration: 0.3s;
            background-color: $color1;
            color: $color2;
            transition-duration: 0.3s;
        }
    }
    button {
        margin-left: 235px;
        border: 1px solid $color1;
        border-radius: 3px;
        background-color: $color3;
        color: $color1;
        font-weight: 600;
        padding: 5px 20px;
        transition-duration: 0.3s;
    }
    button:hover {
        color: $color2;
        background-color: $color1;
        transition-duration: 0.3s;
    }
}

#genderLabel {
    padding-bottom: 20px !important;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
}

.genderSelector {
    div {
        display: block;
    }
}

.radInp {
    float: left !important;
    margin-top: 3px !important;
    margin-right: 10px;
}

#psswShAct2 {
    background-color: $color1;
    color: $color2;
}