@import "../../shared/stylesheets/var.scss";
@import "../../shared/stylesheets/openHiddenMenu.scss";

.aboutUsContainer {
    display: block;
    width: 100%;
    padding-top: 100px;
    background-color: $color2;
    z-index: 1;
    padding-bottom: 100px;
    @include closedHiddenMenuEffect;
    h3 {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
    }
}

#openAboutUs {
    @include openHiddenMenuEffect;
}

.aboutUsBody {
    display: block;
    width: 100%;
    h1 {
        font-size: 40px;
        letter-spacing: 0.2em;
        text-align: center;
        margin-bottom: 80px;
    }
    div {
        vertical-align: top;
    }
    .aboutUsLeft {
        display: inline-block;
        width: 40%;
        img {
            display: block;
            margin: auto;
            width: 50%;
        }
    }
    .aboutUsRight {
        display: inline-block;
        margin-top: 30px;
        width: 60%;
        p {
            width: 80%;
            font-size: 20px;
            font-weight: 600;
            font-style: italic;
            line-height: 1.5em;
        }
    }
}

.aboutUsUnderBody {
    display: block;
    width: 100%;
    img {
        display: block;
        width: 80%;
        margin: 80px auto;
    }
}

@media only screen and (max-width: 1000px) {
    .aboutUsBody {
        .aboutUsRight {
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: 650px) {
    .aboutUsBody {
        h1 {
            font-size: 30px;
        }
        .aboutUsLeft {
            display: block;
            width: 80%;
            margin: auto;
            img {
                width: 60%;
            }
        }
        .aboutUsRight {
            display: block;
            width: 90%;
            margin: 50px auto 0;
            p {
                font-size: 20px;
                text-align: center;
                margin: auto;
            }
        }
    }

    .aboutUsUnderBody {
        img {
            width: 90%;
            margin: 80px auto 20px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .aboutUsBody {
        .aboutUsRight {
            width: 95%;
            p {
                font-size: 18px;
            }
        }
    }
}