.languageSelectionContainer {
    display: block;
    width: 25%;
    padding: 10px;
    select {
        height: 35px;
        width: 150px;
        margin: auto;
        border-radius: 3px;
        font-weight: 600;
        option {
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 860px) {
    .languageSelectionContainer {
        select {
            height: 30px;
            width: 100px;
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 560px) {
    .languageSelectionContainer {
        select {
            height: 28px;
            width: 80px;
            font-size: 10px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .languageSelectionContainer {
        select {
            width: 60px;
        }
    }
}

@media only screen and (max-width: 300px) {
    .languageSelectionContainer {
        padding: 3px;
        select {
            width: 50px;
        }
    }
}